.container--menu-header{
    background: #f4ba37;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40px;
}

.container--menu-header{
    box-shadow: -3px 5px 5px -3px rgba(36,36,36,0.25);
}
