.menuContainerNav--menu-profile{
    max-height: 30px;
    display: flex;
    align-items: center;
}

.menuContainerNav--menu-profile .styledLinkContainer{
    max-height: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid #858585;
    padding: 0px 1rem;
    margin: 0px;
}

.menuContainerNav--menu-profile .styledLinkContent{
    font-size: 13px;
}

.menuContainer--mainMenu .styledLink{
    color: #fff;
}

.menuContainer--mainMenu .menuItem{
    display: flex;
    align-items: center;
}

.menuContainer--mainMenu .menuItem .styledLinkContainer{
    color: #ffffff;
    margin: 10px 0px;
    padding: 3px 10px;
    border-right: 2px #fff solid;
}

.menuContainer--mainMenu .menuItem .styledLinkContainer:hover{
    background-color: #e7af33;
}