.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--phone-header{
  display: flex;
  align-items: center;
  padding: 0px 1.25rem;
  font-size: 13px;
  font-weight: 600;
  color: #878787;
  margin: 3px 0px;
}

.paragraph--phone-header{
  margin: 0px;
}

.paragraph--phone-header{
  margin: 0px;
}

.paragraph--iframe-box{
  font-size: 0px;
}

.container--footer{
  font-size: 13px;
}

.image--vtex-logo{
  width: 100px;
}

.container--vtex-logo{
  display: flex;
  justify-content: center;
}

.paragraph--contact-footer{
  margin: 0px;
  font-size: 14px;
  color: #008280;
  font-weight: 600;
}

.container--shelfTitle{
  display: flex;
  justify-content: left;
  padding: 0px 20px;
  position: relative;
}

.heading-level-2{
  position: relative;
  margin: 5px 0px;
}

.heading-level-2::after{
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background: #ffc038;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: -24px;
}

.heading-level-2::before{
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: #008381;
  border-radius: 20px;
  position: absolute;
  top: 15px;
  right: -45px;
}

.container--shelfTitle{
  border-bottom: 2px solid #414a4642;
  padding: 0px;
  margin: 35px 20px 10px;
}

.container--contact-footer{
  text-align: center;
  display: flex;
  margin-bottom: 10px;
}

.paragraph--mobilefooter{
  font-size: 13px;
  text-align: center;
}

.contact-footer{
  display: flex;
  justify-content: center;
}

.paragraph--title-intitutional{
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.paragraph--title-intitutional::after{
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background: #008381;
  border-radius: 20px;
  position: absolute;
  top: -20px;
  right: -25px;
}
.paragraph--title-intitutional::before{
  display: block;
  content: "";
  width: 15px;
  height: 15px;
  background: #008381;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  right: -35px;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }
}
