.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

.flexRowContent--first-header{
  border-bottom: 3px solid #f4ba37;
  max-height: 35px;
  background: #f4f4f4
}

.flexRow--main-header{
  border-bottom: 3px solid #008280;
}

.flexRow--main-header .stretchChildrenWidth .flexRow--main-header{
  border-bottom: none;
}

.flexCol--searchBar{
  width: 27rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {

  
}

@media screen and (min-width: 1025px){
  .flexRowContent--main-header{
    position: relative;
  }

  .flexRowContent--main-header .flexRowContent--main-header{
    position: relative;
  }
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }

}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color:#fff;;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  padding: 0.625rem 0.5rem;
  background-color: #f0f0f0;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--drawerRow{
  width: 100%;
}

.flexColChild--drawerCol{
  display: flex;
  background: #f4ba37;
  padding: 5px 0px;
  border-bottom: 5px solid #fff;
}

.flexRowContent--social-footer{
  padding: 20px 0px;
  background: #f0f0f0;
}

.flexRow--menu-row{
  background: url(https://megalojaodobebe.vteximg.com.br/arquivos/custombackground3.png);
  background-size: 320px;
}

.flexRowContent--menu-row{
  padding: 15px 0px 50px;
}

.flexRow--social-footer :global(.vtex-store-components-3-x-container), .flexRow--credits :global(.vtex-store-components-3-x-container){
  max-width: initial;
}

.flexRow--deals{
  display: none;
}
