.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

.logoImage{
  width: 150px;
}

.newsletter{
  background-color: #008280;
  margin: 0px;
}

.newsletter .container{
  padding: 30px 0px;
}

.newsletter .container .label{
  font-size: 25px;
  z-index: 9;
  position: inherit;
}

.newsletter .container .inputGroup :global(.vtex-input-prefix__group){
  background-color: #fff;
}

.newsletter .form :global(.vtex-button){
  background: #f4ba37;
  font-weight: 600;
}

.newsletter .form::before{
  content: "";
  background: url(https://megalojaodobebe.vteximg.com.br/arquivos/starNewsletter.png);
  width: 40px;
  height: 40px;
  display: block;
  background-size: 40px;
  position: absolute;
  top: -15px;
  left: 60px;
  transform: rotate(35deg);
  z-index: 2;
}

@media only screen and (min-width: 640px) {
  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }

  .logoLink{
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .logoLink .sizeDesktop .logoImage{
    width: 250px;
  }

  .autoCompleteOuterContainer :global(.vtex-input-prefix__group){
    position: relative;
  }

  .autoCompleteOuterContainer :global(.vtex-input__suffix){
    position: absolute;
    right: 0px;
    top: 8px;
  }

  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    max-width: 208px;
  }
  
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.imageElement--payment{
  max-width: 215px;
}
